<div class="book card" (click)="alert('muh')">
    <div class="left">
        <b>{{ this.book.title }}</b><br />
        <small *ngIf="this.book.author">by {{ this.book.author }}</small><br />
        <br />
        <p>{{ this.book.description }}</p>
    </div>
    <div class="right">
        <img [src]="this.book.image || '../../assets/large_book.png'" />
    </div>
</div>