.book {
    display: flex;
    align-items: flex-start;

    cursor: pointer;
}

.book .left {
    flex-grow: 1;

    padding: 16px;   
}

.book .right {
    padding: 16px;
}

img {
    width: 150px;
    height: 150px;

    object-fit: contain;
}
