<div class="app-bar">
    <span>Books 1.0.28</span>
    <a [routerLink]="['/books/new']"><button class="primary">ADD</button></a>
</div>

<div *ngFor="let book of booksObservable | async" class="book-card">
    <app-book-card [book]="book"></app-book-card>
</div>