<div class="app-bar">
    <i class="material-icons md-36" (click)="goBack()">arrow_back</i>
    <span>Edit book</span>
    <button class="secondary" (click)="deleteBook()">DELETE</button>
    <button class="primary" (click)="updateBook()">SAVE</button>
</div>

<div class="book-form">
    <app-book-form></app-book-form>
</div>