.book-form {
    display: flex;
    align-items: flex-start;
}

.book-form .left {
    flex-grow: 1;

    display: grid;
    grid-template-columns: 100px auto; 
    grid-column-gap: 16px; 
    grid-row-gap: 16px;

    padding: 16px;   
}

.book-form .right {
    padding: 16px;
}

img {
    width: 150px;
    height: 150px;

    object-fit: contain;

    cursor: pointer;
}

.select-image {
    display: none
}

button {
    width: 100%;

    margin-top: 8px;
    padding: 4px;

    color: #666;
    font-weight: bold;

    border: none;
    border-radius: 4px;

    background-color: #ddd;
}
