<div class="book-form card">
    <div class="left">
        Title
        <input [(ngModel)]="this.book.title" />

        Author
        <input [(ngModel)]="this.book.author" />

        Description
        <textarea rows="10" [(ngModel)]="this.book.description"></textarea>
    </div>
    <div class="right">
        <img #image [src]="this.book.image || '../../assets/book.png'" (click)="selectImage.click()" /><br />
        <input #selectImage class="select-image" type="file" accept="image/*" (change)="onImageSelected($event)" />
        <button (click)="selectImage.click()">SET IMAGE</button><br />
        <button (click)="deleteImage()">DELETE IMAGE</button>
    </div>
</div>