<div class="app-bar">
    <i class="material-icons md-36" (click)="goBack()">arrow_back</i>
    <span>Add book</span>
    <button class="primary" (click)="addBook()">DONE</button>
</div>

<div class="book-form">
    <app-book-form></app-book-form>
</div>