/*** General ***/

i, button {
    cursor: pointer;
}

.card {
    border: 2px solid #ccc;
}

/*** App Bar ***/

.app-bar {
    display: flex;
    align-items: center;

    padding: 8px;

    color: white;
    font-size: 24px;
    font-weight: bold;

    background-color: grey;
}

.app-bar > * {
    margin: 8px;
}

.app-bar span {
    flex-grow: 1;
}

.app-bar button {
    font-size: 24px;
    font-weight: 700;

    border-radius: 8px;
}

.app-bar button.primary {
    background-color: white;

    color: grey;

    border: none;
}

.app-bar button.secondary {
    background-color: grey;

    color: white;

    border: solid white 2px;
}

/*** Material ***/

/* Rules for sizing the icon. */
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

/* Rules for using icons as black on a light background. */
.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

/* Rules for using icons as white on a dark background. */
.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }
